*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #81868e;
  line-height: 1.7;
  min-width: 320px;
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.3);
}
.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  transition: all 0.3s linear;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button,
input,
textarea,
form {
  outline: none;
  border: none;
  resize: 0;
  appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
