@media (max-width: 768px) {
    .menu-icon-wrapper {
        display: block;
    }
    .nav-menu {
        background-color: rgb(10, 194, 250);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        &__list {
            overflow-y: auto;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            z-index: 1001;
            li {
                a {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
    }
}
@media (min-width: 769px) {
}
