.offer {
  padding-top: 60px;
  padding-bottom: 80px;
}

.offer__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.offer__slider {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
  .slick-list {
    overflow: hidden;
    padding: 80px 0 50px;
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    background-color: transparent;
    background-image: url(../images/icons/slider-offer-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }
  .slick-next {
    transform: rotate(180deg);
    right: 10px;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-dots {
    display: flex;
    list-style: none;
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translateX(-50%);
    li {
      border-radius: 50%;
      background: #2323a5;
      opacity: 0.3;
      width: 8px;
      height: 8px;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 5px;
      }
      &.slick-active {
        opacity: 1;
      }
      button {
        font-size: 0;
        border: none;
        padding: 0;
      }
    }
  }
}

.offer__slider-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  outline: none;
  background-color: #ffffff;
  margin: 20px;
}
.offer__slider-item-text {
  margin-right: 70px;
  flex-basis: 44%;
}
.offer__slider-item-title {
  font-size: 60px;
  line-height: 1.166;
  letter-spacing: 0.25px;
  color: #2323a5;
  margin-bottom: 20px;
}

.offer__slider-item-description {
  font-size: 22px;
  line-height: 1.272;
  letter-spacing: 0.35px;
  color: #000000;
  margin-bottom: 25px;
}

.offer__slider-item-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.333;
  text-align: center;
  letter-spacing: -0.24px;
  color: #2323a5;
  padding-left: 36px;
  padding-right: 36px;
}
.offer__slider-item-img-wrap {
  flex-basis: 56%;
  background-color: #2323a5;
  height: 372px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1),
    0px 9.94853px 12.9632px rgba(0, 0, 0, 0.0651589),
    0px 4.13211px 5.38427px rgba(0, 0, 0, 0.05),
    0px 1.4945px 1.94738px rgba(0, 0, 0, 0.0348411);
}
.offer__slider-item-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 372px;
  position: relative;
  bottom: 20px;
  left: -20px;
}
